/*applies to all elements*/
* {
  margin: 0;
  padding: 0;
  /*whenever there is a width it will automatically infactor the padding & margin*/ 
  box-sizing: border-box;
}

body {
  background: 	#f8f8f8;
  color: #4169E1;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  padding: 2em;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header span {
  color:  #4e4e4e;
}

/* center flexbox */
.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  /*creates a "box" around the form*/
  box-shadow: 0 0 20px 0 rgba(65,105,225);
  /* width of container */
  width: 60%;
}

/* apply padding to everything indside the box */
.wrapper > * {
  padding: 1em;
}

.description {
  background: #E0FFFF;
  text-align: center;
}

/* Form Styles */
#survey-form {
  background: rgba(0,191,255,.3);
}

.personal-info > h3 {
  margin-top: 0;
}

h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* arrange the two rows */
.personal-info p {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin-bottom: 10px;
}

/* style input fields */
input {
  border-radius: 6px;
  border: 3px solid #4169E1;
  background-color: #E0FFFF;
  color: #4169E1;
}

input:focus {
  border: 3px solid #FFD700;
}


/* languages */

.languages p {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  margin-bottom: 10px;
}

/* style select dropdown */
select {
  margin-left: 15px;
  border-radius: 6px;
  border: 3px solid #4169E1;
  background-color: #E0FFFF;
  color: #4169E1;
}

/* style textfield for thoughts */
textarea {
  width: 250%;
  height: 150px;
  border-radius: 10px;
  background:  #E0FFFF;
  border:  3px solid #4169E1;
  font-size: 16px;
}

/* style button */
button {
	padding: 20px;
	margin-top: 20px;
  border-radius: 10rem;
}

/* center button */
.button {
  text-align: center;
}

#submit {
  background: #E0FFFF;
  border-color: #E0FFFF;
  font-size: 20px;
  cursor: pointer;
}

/* stacks elements */
@media (max-width: 800px) {
  .personal-info p, .languages p {
     grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  textarea {
     width: 100%;
  }
}
